<div class="root-container">
    <div class="column">
        <section class="plan-header">
            <input type="text" name="plan-name" id="plan-name" [(ngModel)]="plan.name" placeholder="Plan Name">
        </section>
        <section class="workouts">
            <div class="workout-list" *ngIf="plan.workouts">
                <ng-container *ngFor="let workout of plan.workouts; index as i">
                    <button class="workout-button" (click)="displaySelectedWorkout(i)">{{ workout.name.length > 0?
                        workout.name: 'Empty Workout' }}</button>
                </ng-container>
            </div>
            <button class="workout-button add-workout" (click)="addWorkout()">Add Workout</button>
        </section>
    </div>
    <div class="column">
        <section class="workout-header" *ngIf="plan.workouts">
            <input type="text" name="plan-name" id="plan-name" [(ngModel)]="plan.workouts[selectedWorkoutIndex].name"
                placeholder="Workout Name">
        </section>
        <section class="empty-column-header" *ngIf="!plan.workouts">
            Please create a workout to add or update it!
        </section>
        <section class="workouts" *ngIf="plan.workouts">
            <div class="workout-list" *ngIf="plan.workouts && plan.workouts[selectedWorkoutIndex].exercises">
                <ng-container *ngFor="let exercise of plan.workouts[selectedWorkoutIndex].exercises; index as i">
                    <button class="workout-button" (click)="displaySelectedExercise(i)">{{ exercise.name.length > 0?
                        exercise.name: 'Empty Exercise' }}</button>
                </ng-container>
            </div>
            <button class="workout-button add-workout" (click)="addExercise()">Add Exercise</button>
        </section>
    </div>
    <div class="column">
        <section class="exercise-header" *ngIf="plan.workouts && plan.workouts[selectedWorkoutIndex].exercises">
            <input type="text" name="plan-name" id="plan-name"
                [(ngModel)]="plan.workouts[selectedWorkoutIndex].exercises![selectedExerciseIndex].name"
                placeholder="Exercise Name">
        </section>
        <section class="empty-column-header" *ngIf="!plan.workouts || !plan.workouts[selectedWorkoutIndex].exercises">
            Please create a workout and add an exercise to view or update it!
        </section>
        <section class="workouts" *ngIf="plan.workouts && plan.workouts[selectedWorkoutIndex].exercises">
            <div class="workout-list"
                *ngIf="plan.workouts && plan.workouts[selectedWorkoutIndex].exercises![selectedExerciseIndex].records">
                <ng-container
                    *ngFor="let record of plan.workouts[selectedWorkoutIndex].exercises![selectedExerciseIndex].records; index as i">
                    <div class="record">
                        <label>
                            Date
                            <input type="date" name="record-date" id="record-date" [(ngModel)]="record.date">
                        </label>
                        <label>
                            Weight
                            <div class="weight-info">
                                <input type="number" name="record-weight" id="record-weight" [(ngModel)]="record.weight"
                                    min="0">
                                <select name="record-weight-unit">
                                    <option value="kg">kg</option>
                                    <option value="lbs">lbs</option>
                                </select>
                            </div>
                        </label>
                        <label>
                            Sets
                            <input type="number" name="record-sets" id="record-sets" [(ngModel)]="record.sets" min="0">
                        </label>

                        <label>
                            Reps
                            <input type="number" name="record-reps" id="record-reps" [(ngModel)]="record.reps" min="0">
                        </label>

                    </div>
                </ng-container>
            </div>
            <button class="workout-button add-workout" (click)="addRecord()">Add Record</button>
        </section>
    </div>
</div>