@import '../../../styles.scss';

.root-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 8px;
    width: 100%;
    height: 100%;
    background-color: $blue;
    justify-content: center;
}

.column {
    display: flex;
    height: 100%;
    width: calc(100% / 3);
    background-color: transparent;
    padding: 8px;
    flex-direction: column;
    gap: 16px;

    input {
        width: 100%;
        height: 2rem;
        padding: 8px;
    }

    .plan-header {
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
            font-weight: 300;
            font-size: 0.75rem;
        }
    }
}

.workouts {
    border: 3px solid $red;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    background-color: white;
    gap: 32px;
    overflow: auto;

    .workout-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .workout-button {
        width: 100%;
        padding: 8px 16px;
        background-color: $yellow;
        transition: 200ms;
        outline: 0;
        border: 0;
        font: $subheading-font;
        font-weight: 500;
        cursor: pointer;
        color: black;
    }

    .add-workout {
        border: 3px solid black;
        padding: 8px 16px;
        margin-top: auto;
        color: black;
        box-shadow: 1px 1px 0px 0px black, 2px 2px 0px 0px black, 3px 3px 0px 0px black, 4px 4px 0px 0px black, 5px 5px 0px 0px black;
        font: $subheading-font;
        font-weight: 700;
        text-align: center;
        border-radius: 12px;
        outline: 0;
        background-color: $green;
        cursor: pointer;
        position: relative;
    }

    .workout-button:hover {
        // box-shadow: none;
        // transition: 0.4s;
        outline: 0;
        // background: #f4e603;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
    }


    .add-workout:active {
        box-shadow: 0px 0px 0px 0px;
        top: 5px;
        left: 5px;
    }
}

.workout-header {
    font: $heading-font;
    text-align: center;
}

.empty-column-header {
    border: 2px dashed white;
    background-color: $red;
    padding: 8px;
    color: white;
}

.record {
    width: 100%;
    display: flex;
    gap: 4px;
    border: 1px solid black;
    padding: 8px;
    background-color: $yellow;

    .weight-info {
        display: flex;
        gap: 2px;
    }

    label:nth-of-type(1) {
        width: 30%;
    }

    label:nth-last-child(-n + 2) {
        width: 30%;
    }
}

.download-button {
    width: 100%;
    padding: 8px 16px;
    background-color: $yellow;
    transition: 200ms;
    outline: 0;
    border: 0;
    font: $subheading-font;
    font-weight: 500;
    cursor: pointer;
    color: black;
    margin-top: auto;
    text-decoration: none;
    text-align: center;
}

.download-button:hover {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(256, 256, 256, .2), 0 3px 8px 0 rgba(256, 256, 256, .15);
}