@import '../../../styles.scss';

.root-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    height: 100%;
    background-color: $blue;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 8px;
    border: 1px solid $blue;
    align-items: center;
    justify-content: center;
    color: black;
    line-height: 1.5rem;
    background-color: white;
}

h2 {
    font: $heading-font;
    color: black;
    margin-bottom: 8px;
    text-align: center;
    padding: .25rem 0 .25rem 0;
}

h1 {
    font: $title-font;
    font-size: 10rem;
    color: $blue;
}

.button-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 32px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 8px 16px;
    background-color: $yellow;
    box-shadow: inset 8px 8px 0 0 white, 9px 9px 0 0 $yellow;
    outline: 0;
    border: 1px solid $blue;
    font: $heading-font;
    cursor: pointer;
    color: $blue;
}

.panel:hover {
    box-shadow: none;
    transition: 0.4s;
}

input[type="file"] {
    display: none;
}

.panel img {
    height: 24px;
    width: 24px;
    padding: 4px;
    margin-right: 8px;
}



