
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$jimbro-primary: mat.define-palette(mat.$blue-palette, 500, 100, 700);
$jimbro-accent: mat.define-palette(mat.$amber-palette, 500);

// The warn palette is optional (defaults to red).
$jimbro-warn: mat.define-palette(mat.$red-palette);
$jimbro-success: mat.define-palette(mat.$green-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$jimbro-theme: mat.define-light-theme((
  color: (
    primary: $jimbro-primary,
    accent: $jimbro-accent,
    warn: $jimbro-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($jimbro-theme);
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Honk&family=Italianno&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$title-font: 3rem "Monofett", "Roboto Mono", monospace;
$subtitle-font: 200 1rem Roboto, monospace;
$heading-font: 700 1.2rem Roboto, monospace;
$subheading-font: 200 1rem "Roboto", sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 16px;  }
